<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <nav class="navbar">
      <p><%= link_to "*_Members Only_*", root_path %></p>
      <p><%= link_to "Post", new_post_path %></p>
      <p> <%= link_to "Log In", new_member_session_path %></p>
      <p><%= link_to "Sign Up", new_member_registration_path %></p>
    </nav>
    <%= yield %>
  </body>
</html>
